<%- include ('header'); %>
<div class="container mt-4">
    <form action="" method="post">
        <p class="text-white display-5">Isenção IPTU</p>

        <div class="row">
            <!--Pessoais-->
            <p class="text-white">Dados Pessoais</p>
            <div class="col-md-10 contribuinte">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Nome<span style="color: #ff0000;">*</span></span>
                    <input type="text" class="form-control" id="input-contribuinte" name="requerente" placeholder="Nome do contribuinte" aria-label="Nome do contribuinte">
                </div>
            </div>

            <div class="col-md-2">
                <div class="input-group mb-3">
                    <select class="form-select" id="inputGroupSelect2" name="sexo">
                        <option selected>Sexo</option>
                        <option value="1">Masculino</option>
                        <option value="2">Feminino</option>
                    </select>
                </div>
            </div>

            <div class="col-md-6 cpf">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">CPF</span>
                    <input type="text" class="form-control" id="input-cpf-declaracao" name="cpf" placeholder="Certidão de Pessoa Fisica" aria-label="CPF">
                </div>
            </div>

            <div class="col-md-6 rg">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">RG</span>
                    <input type="text" class="form-control" id="input-rg-declaracao" name="rg" placeholder="Registro Geral" aria-label="RG">
                </div>
            </div>

            <div class="col-md-6 estado-civil">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon7">Estado civil</span>
                    <input type="text" class="form-control" id="input-estado-civil" name="estadoCivil" placeholder="Casado / Solteiro / Viúvo" aria-label="estado civil">
                </div>
            </div>

            <div class="col-md-6 telefone">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon2">Telefone</span>
                    <input type="text" class="form-control" id="input-telefone" name="telefone" placeholder="Telefone do Contribuinte" aria-label="Telefone">
                </div>
            </div>
            <!--Fim dados Pessoais-->

            <hr>
            
            <!--Imóvel-->
            <p class="text-white">Dados do Imóvel</p>
            <div class="col-md-9 endereco">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">Endereço</span>
                    <input type="text" class="form-control" id="input-endereco" name="endereco" placeholder="Nome da rua/avenida/travessa, número e bairro" aria-label="Endereço">
                </div>
            </div>

            <div class="col-md-3 cad-imob">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon4">Cadastro Imob.</span>
                    <input type="text" class="form-control" id="input-cadastro-imob" name="cadImob" placeholder="Cadastro Imobiliario" aria-label="Cadastro Imobiliario">
                </div>
            </div>

            <div class="col-md-9 imovel-debito">
                <div class="input-group mb-3">
                    <select class="form-select" id="inputGroupSelect2" name="possuiDebito">
                        <option selected>Imóvel possui débitos?</option>
                        <option value="1">Sim</option>
                        <option value="2">Não</option>
                    </select>
                </div>
            </div>

            <div class="col-md-3 imovel-debito-desc">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon9">Débitos</span>
                    <input type="text" class="form-control" id="input-debito-desc" name="debitos" placeholder="Se possuir débitos, descreva:" aria-label="Débitos">
                </div>
            </div>

            <div class="col-md-12 unico-imovel">
                <div class="input-group mb-3">
                    <select class="form-select" id="inputGroupSelect1" name="unicoImovel">
                        <option selected>Unico imovel?</option>
                        <option value="1">Sim</option>
                        <option value="2">Não</option>
                    </select>
                </div>
            </div>
            
            
            <div class="col-md-12 reside-imovel">
                <div class="input-group mb-3">
                    <select class="form-select" id="inputGroupSelect3" name="resideImovel">
                        <option selected>Reside no imóvel?</option>
                        <option value="1">Sim</option>
                        <option value="2">Não</option>
                    </select>
                </div>
            </div> 

            <!--Fim dados Imóvel-->

            <hr>
            
            <!--Isenção-->
            <p class="text-white">Dados da Isenção</p>
            <div class="col-md-9 tipo-beneficio">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon5">Tipo do beneficio</span>
                    <input type="text" class="form-control" id="input-tipo-beneficio" name="tipoBeneficio" placeholder="Aposentado, Pensionista, BPC, Auxilio" aria-label="tipo do beneficio">
                </div>
            </div>
            <div class="col-md-3 valor-beneficio">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon6">Valor (R$)</span>
                    <input type="text" class="form-control" id="input-valor-beneficio" name="valorBeneficio" placeholder="Valor do beneficio" aria-label="valor do beneficio">
                </div>
            </div>
            
            <div class="col-md-12 conjuge-ben">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon8">Conjuge recebe beneficio?</span>
                    <input type="text" class="form-control" id="input-conjuge-ben" name="conjugeBeneficio" placeholder="Se sim, colocar valor" aria-label="Conjuge recebe beneficio?">
                </div>
            </div>
                
            <div class="col-md-12 ano">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Ano Isenção</span>
                    <input type="text" class="form-control" id="input-ano" name="anoIsencao" placeholder="Ano" aria-label="Ano Isenção">
                </div>
            </div>

            <div class="col-md-12 parecer-assistencia">
                <div class="input-group mb-3">
                    <select class="form-select" id="inputGroupSelect4" name="parecer">
                        <option selected>Parecer da Assistencia</option>
                        <option value="1">Em análise</option>
                        <option value="2">Deferido</option>
                        <option value="3">Indeferido</option>
                    </select>
                </div>
            </div> 
             <!--Fim dados Isenção-->     
        </div>

           
        
        <div class="row">
            <div class="col-md-3 documentos-entregues mt-3 pt-3">
                <div class="input-group mb-3">
                    <select class="form-select" id="inputGroupSelect4" name="docsEntregue">
                        <option selected>Todos documentos entregues?</option>
                        <option value="1">Sim</option>
                        <option value="2">Não</option>
                    </select>
                </div>
            </div> 
            <div class="col-md-9 d-flex mt-3 pt-3 align-items-center">
                <div class="form-check px-4">
                <input class="form-check-input" type="checkbox" name="CheckButton" id="CheckButton1">
                <label class="form-check-label text-white" for="CheckButton1">
                    CPF
                </label>
                </div>
                <div class="form-check px-4">
                <input class="form-check-input" type="checkbox" name="CheckButton" id="CheckButton2">
                <label class="form-check-label text-white" for="CheckButton2">
                    RG
                </label>
                </div>
                <div class="form-check px-4">
                    <input class="form-check-input" type="checkbox" name="CheckButton" id="CheckButton3">
                    <label class="form-check-label text-white" for="CheckButton3">
                    Comprovante de Renda
                    </label>
                </div>
                <div class="form-check px-4">
                    <input class="form-check-input" type="checkbox" name="CheckButton" id="CheckButton4">
                    <label class="form-check-label text-white" for="CheckButton4">
                    Atestado de Óbito, se necessário
                    </label>
                </div> 
                <div class="form-check px-4">
                    <input class="form-check-input" type="checkbox" name="CheckButton" id="CheckButton5">
                    <label class="form-check-label text-white" for="CheckButton5">
                    Laudo Médico, se necessário
                    </label>
                </div>  
            </div> 
        </div>
        <button class="btn btn-secondary" type="submit">Adicionar</button>
    </form>
</div> 

  

  <div class="container-fluid">
    <table class="table table-dark table-striped table-bordered mt-3 pt-3">
      <thead>
        <tr>
          <th class="text-center" colspan="13">Isenções</th>
        </tr>
        <tr>
          <th scope="col">Requerente</th>
          <th scope="col">Cad. Imob.</th>
          <th scope="col">Endereço</th>
          <th scope="col">Tipo Beneficio</th>
          <th scope="col">Valor Beneficio</th>
          <th scope="col">Estado Civil</th>
          <th scope="col">Ano Isenção</th>
          <th scope="col">Opções</th>
        </tr>
      </thead>
      <tbody>
        <% consultaIsencao.forEach(isencao => { %>
          <tr>
            <td><%=isencao.requerente  %> </td>
            <td><%=isencao.cadImob  %> </td>
            <td><%=isencao.endereco  %> </td>
            <td><%=isencao.tipoBeneficio %> </td>
            <td><%=isencao.valorBeneficio  %> </td>
            <td><%=isencao.estadoCivil  %> </td>
            <td><%=isencao.anoIsencao  %> </td>
            <td class="d-flex gap-3">
                <form class="form-consulta" action="<%= `/isencaoconsulta/${consultaIsencao._id}` %>" method="get"><button type="submit" data-bs-toggle="tooltip" data-bs-title="Detalhar Registro"><i class="fa-solid fa-magnifying-glass text-white"></i></button></form>

                <form class="form-edit" action="<%= `/isencao/${consultaIsencao._id}` %>" method="get"><button type="submit" data-bs-toggle="tooltip" data-bs-title="Editar Registro"><i class="fa-solid fa-pencil text-white"></i></button></form>
                
                <form class="form-delete" action="<%= `/isencaodelete/${consultaIsencao._id}` %>" method="post"><button type="submit" data-bs-toggle="tooltip" data-bs-title="Deletar Registro"><i class="fa-solid fa-trash text-danger"></i></button></form>

            </td>
            
          </tr>
        <% }) %>

      </tbody>
  </div>
 
<%- include ('footer'); %>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
    <script src="/js/vanilla-masker.js"></script>
    <script src="/js/isencao.js"></script>
  </body>
</html>